{% extends 'aviadb/base.html' %}

{% block title %}
Об авторе
{% endblock %}

{% block content %}
    <h4>Страница об авторе</h4>
    <p>Разработал студент группы ИС3-181ЗБ, <br>ведущий специалист Центра корпоративного обучения филиал ПАО "ИЛ"-ВАСО Шапкин Владимир Сергеевич</p>
    <p>Версия 1.0</p>
    <p>Разработанный функционал:</p>
    <p>
        <ul>
            <li>Отображение содержимого базы данных чертежей самолетов</li>
            <li>Панель администратора</li>
            <li>Возможность авторизоваться в панель администратора</li>
            <li>Cоздавать и редактировать пользователей, права пользователей</li>
            <li>Добавление и редактирование содержимого базы данных через панель администратора</li>
        </ul>
    </p>
{% endblock %}